@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Open Sans", sans-serif;
    @apply antialiased;
    background-color: #111111;
  }
}

.text-stroke {
  -webkit-text-stroke: 2px #21965a;
  -webkit-text-fill-color: rgba(0, 30, 14, 0.81);
}
